{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "PoliceForce - Software for Police Stations" "subtitle" "Open and Transparent Policing Software") }}

{{ partial "short-text" (dict "heading" "Why PoliceForce?" "text" "PoliceForce is the Software for Police stations that allow governments to provide open and transparent policing in developing countries in Africa.")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" "PoliceForce is the ultimate software for Police stations. We provide an integrated solution that allows real time reporting for incidents in multiple locations without the need to install expensive servers." "imageUrl" "/img/home/police-officer.jpg" "text1" "We provide an Open Source solution that runs on Free and Open Technology.  We allow the general public to start reports from our website.  That information is share across the software with the multiple locations." "imageUrl" "/img/home/who-what.jpg" "text2" "We provide a complete solution that utilizes cell phone infrastructure to connect remote police stations to connect to our central database.  Our web application is multi-tenant and multi-lingual allowing users to learn the software faster." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "Policing should be open and transparent.  Providing decisions makers with information that is open and transparent allows us to live in a more freer and fair society.  Allowing users to submit reports online forces the police to provide a better service." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
