{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "PoliceForce - Software for Police Stations" "subtitle" "Open and Transparent Policing Software") }}

{{ partial "short-text" (dict "heading" "Why PoliceForce?" "text" "PoliceForce is the Software for Police stations that allow governments to provide open and transparent policing in developing countries in Africa.")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" "PoliceForce is the ultimate software for Police stations. We provide an integrated solution that allows real time reporting for incidents in multiple locations without the need to install expensive servers." "svg1" "img/illustrations/coffee.svg" "text1" "We provide an Open Source solution that runs on Free and Open Technology.  We allow the general public to start reports from our website.  That information is share across the software with the multiple locations." "svg2" "/img/illustrations/coffee-gear.svg" "text2" "We offer a small, but carefully curated selection of brewing gear and tools for every taste and experience level. No matter if you roast your own beans or just bought your first french press, you’ll find a gadget to fall in love with in our shop." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "Policing should be open and transparent.  Providing decisions makers with information that is open and transparent allows us to live in a more freer and fair society.  Allowing users to submit reports online forces the police to provide a better service." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
